body {
    margin: 0;
    padding: 0;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  

  li a {
    display: flex;
    justify-content:space-between;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
  }
  
  li a:hover {
    background-color: rgb(224, 179, 171);
    color: black;
  }

  img {
      width: 100%;
  }

#kidd {
      margin-top: 80px; 
  }

  div h1 {
      background-color: wheat;
      width: 40%;
  }
  div p {
        width: 40%;
      background-color: wheat;
  }
  #kids {
    width: 50%;
    float: right;
  }


  #article1 {
      display: flex;
      flex-wrap: wrap;
  }

  