body {
  margin: 0;
  padding: 0;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li a {
  display: flex;
  justify-content:space-between;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0;
  font-size: 1.5rem;
}

li a:hover {
  background-color: rgb(224, 179, 171);
  color: black;
}

#bear {
    width: 100%;
}

#pic1 {
  width: 50%;
  border-radius: 20px;
} 

#pic3 {
  width: 50%;
  border-radius: 20px;
  border: 1px solid black;
}

#article1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;  
}

.first {
  width: 50%;
  text-align: left;
  background-color: wheat;
  border-radius: 20px;
}

#article2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;  
}

.second {
  width: 50%;
  text-align: left;
  background-color: wheat;
  border-radius: 20px;
}

#article3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;

}

.third {
  width: 50%;
  text-align: left;
  background-color: wheat;
  border-radius: 20px;
}

h1, h2, h3 {
  margin-right: 10px;
  margin-left: 10px;
}

#social {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: wheat;
  margin-top: 50px;
  border-radius: 20px;
  margin-bottom: 50px;
}

#social img {
  width: 50px;
  height: 50px;
  margin: 50px;
}